*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid lightgrey; */
}
body{
    background: darkcyan;
}
.container{
    background: ivory;
}
h1{
    text-align: center;
    font-size: 50px;
    color: darkcyan;
}

h5{
    text-align: center;
}
#slide-container{
    left: 0;
    position: relative;
    width: 1000%;
}
.main{
    width: 100%;
}
#left{
    text-align: left;
}
#right{
    text-align: right;
}
#left-button,
#right-button{
    cursor: pointer;
    padding-top: 75px;
}
.imageBox{
    display: block;
    position: relative;
    margin: 1px auto;
    max-width: 550px;
}


#caption{
    text-align: center;

}

#slides{
    text-align: center;
    display: none;
}

#slide{
    display: block;
    max-width: 500px;
    margin: 10px auto;
    /* height: auto; */
    cursor: pointer;
}

#side-left{
    background-color: rgba(0,0,0,.5);
    position: absolute;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    width: 25px;
    line-height: 250px;
    text-align: center;
    cursor: pointer;
    z-index: 5;
}
#side-right{
    background-color: rgba(0,0,0,.5);
    position: absolute;
    color: white;
    top: 0;
    bottom: 0;
    right: 0;
    width: 25px;
    line-height: 250px;
    text-align: center;
    cursor: pointer;
}

img{
    width: 500px;
    height: 250px;
}
