h1, h5{
    text-align: center;
    color: white;
}
.header{
    background-image: linear-gradient(#083848, white);
    background-color: #083848;
    height: 150px;
}

#caption{
    text-align: center;
    color: #083848;
    font-size: 25px;

}

#slides{
    text-align: center;
    display: none;
}

#slide{
    display: block;
    max-width: 400px;
    margin: 10px auto;
    height: auto;
    cursor: pointer;
}